@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles colors variable with "Dawn's Embrace" theme */
@layer base {
    :root {
        --background: 51 34% 99%;
        --foreground: 51 78% 0%;
        --muted: 51 14% 91%;
        --muted-foreground: 51 11% 28%;
        --popover: 51 34% 99%;
        --popover-foreground: 51 78% 0%;
        --card: 60 20% 99.02%;
        --card-foreground: 51 78% 0%;
        --border: 51 11.86% 86.91%;
        --input: 51 16.79% 86.13%;
        --primary: 40.71 100% 50%;
        --primary-foreground: 51 100% 10%;
        --secondary: 51 7% 90%;
        --secondary-foreground: 51 7% 30%;
        --accent: 51 7% 90%;
        --accent-foreground: 51 7% 30%;
        --destructive: 6 80% 35%;
        --destructive-foreground: 6 80% 95%;
        --ring: 51 100% 50%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 51 47% 4%;
        --foreground: 51 28% 99%;
        --muted: 51 14% 9%;
        --muted-foreground: 51 11% 72%;
        --popover: 54 50% 3.92%;
        --popover-foreground: 51 28% 99%;
        --card: 51 26.67% 6.07%;
        --card-foreground: 51 28% 99%;
        --border: 51 10% 10%;
        --input: 51 10% 10%;
        --primary: 40.75 100% 50%;
        --primary-foreground: 51 100% 10%;
        --secondary: 51 6% 18%;
        --secondary-foreground: 51 6% 78%;
        --accent: 51 6% 18%;
        --accent-foreground: 51 6% 78%;
        --destructive: 6 100% 65%;
        --destructive-foreground: 0 54.29% 6.86%;
        --ring: 40.71 100% 50%;
    }
}

/* Base styles */
@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply min-h-screen bg-background font-sans leading-normal text-foreground antialiased;
    }

    ::-webkit-scrollbar {
        @apply h-2 w-2;
    }

    ::-webkit-scrollbar-track {
        @apply bg-background;
    }

    ::-webkit-scrollbar-thumb {
        @apply rounded-full bg-primary;
    }
}

/* Typography styles */
@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply scroll-m-20 font-semibold tracking-tight;
    }

    h1 {
        @apply text-4xl font-extrabold lg:text-5xl;
    }

    h2 {
        @apply pb-2 text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }

    h5 {
        @apply text-lg;
    }

    h6 {
        @apply text-base;
    }

    p {
        @apply leading-7;
    }

    blockquote {
        @apply mt-6 border-l-2 pl-6 italic;
    }

    ul {
        @apply my-6 ml-6 list-disc [&>li]:mt-2;
    }

    ol {
        @apply my-6 ml-6 list-decimal [&>li]:mt-2;
    }

    code {
        @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
    }

    small {
        @apply text-sm font-medium leading-none text-muted-foreground;
    }

    .leading {
        @apply text-xl leading-relaxed text-muted-foreground;
    }

    .large {
        @apply text-lg font-semibold;
    }

    .muted {
        @apply text-muted-foreground;
    }

    .link {
        @apply text-primary underline-offset-4 hover:underline;
    }

    .quote {
        @apply before:ml-0.5 before:text-primary before:content-['\201C'] after:ml-0.5 after:text-primary after:content-['\201C'];
    }
}

/* Form styles */
@layer base {
    .required {
        @apply after:ml-0.5 after:text-red-500 after:content-['*'];
    }

    .optional {
        @apply after:ml-0.5 after:text-muted-foreground after:content-['(optional)'];
    }
}
